# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Python cache / test cache
.pytest_cache/

# Local databases
*.duckdb
*.db